.Logo {
    display: flex;
    align-items: center;
    height: inherit;
    margin-left: 10px;
    grid-column: 1;
}

.Logo-image {
    height: 46px;
    width: 46px;
}


.Logo-name {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    display: inline;
}