.Footer {
    background-color: var(--main-color);
    position: fixed;
    bottom: 0px;
    color: #ffffff;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}