.Footer {
    background-color: var(--main-color);
    position: fixed;
    bottom: 0px;
    color: #ffffff;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 10px;
}

footer {
    align-self: flex-end;
}

.Copyright-text {
    margin-block-end: 0;
    font-size: 14px;
}